<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deshboard</title>
    <%- include('../common/head') %>
    <%- include('common/head-link') %>
</head>

<body>
    <!--**************************Navbar ******************************* -->
    <!-- Navbar -->
    <%- include("common/navbar") %> 
    <!-- Navbar -->
    <!--**************************sideber ******************************* -->
    <%- include("common/sidebar") %> 
    <!--**************************main-body ******************************* -->
    <div class="main-body">

    </div>


    <%- include("common/footerlink") %> 
    <%- include('../common/footerlink') %>
</body>

</html>